
<!DOCTYPE html>
<html>
<head>
﻿<title>MixRadio Developers - Welcome</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Microsoft -->
<meta http-equiv="cleartype" content="on" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="application-name" content="MixRadio Developers"/>
<meta name="msapplication-TileColor" content="#ff2e80"/>
<meta name="msapplication-square70x70logo" content="/assets/pin/square70x70.png"/>
<meta name="msapplication-square150x150logo" content="/assets/pin/square150x150.png"/>
<meta name="msapplication-wide310x150logo" content="/assets/pin/wide310x150.png"/>
<meta name="msapplication-square310x310logo" content="/assets/pin/square310x310.png"/>
<!-- Page specific meta -->
<meta property="og:site_name" content="MixRadio Developers" />
<meta property="og:locale" content="en_GB" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@DevMixRadio" />
<meta property="og:title" content="MixRadio Developers. Welcome" />
<meta property="twitter:title" content="MixRadio Developers. Welcome" />
<meta property="og:description" content="Find out all about MixRadio APIs and Engineering practices." />
<meta property="twitter:description" content="Find out all about MixRadio APIs and Engineering practices." />
<link rel="alternate" type="application/atom+xml" title="Atom feed" href="http://dev.mixrad.io/feed.xml" />  
<link rel="stylesheet" href="/assets/bootstrap/311/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/theme.css" />

<link rel="shortcut icon" type="image/x-icon" href="/assets/favIcon.ico" />

<link rel="icon" type="image/png" href="/assets/favIcon16.png" />

<link rel="apple-touch-icon" type="image/png" href="/assets/favIcon144.png" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

<!--[if lt IE 9]>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<![endif]-->

 
</head>
